
@model QRMENU.Models.urunler

@{
    ViewBag.Title = "PrUpdate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("PUpdate", "Admin", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.urunid)
        @Html.TextBoxFor(m => m.urunid, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.urunadi)
        @Html.TextBoxFor(m => m.urunadi, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.urunfiyat)
        @Html.TextBoxFor(m => m.urunfiyat, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.urunaciklama)
        @Html.TextBoxFor(m => m.urunaciklama, new { @class = "form-control" })
        <br />
        @Html.LabelFor(m => m.kategoriid)
        @Html.DropDownListFor(m => m.kategoriler.katid, (List<SelectListItem>)ViewBag.degerler, new { @class = "form-control" })
        <br />
    </div>

    <div>
        <button type="submit" class="btn btn-warning">ÜRÜN GÜNCELLE</button>
    </div>
}

